<h3>welcome <%= session[:player_name] %></h3>
<div class='well'>
<h5>Dealer Cards:</h5>
<% session[:dealer_cards].each do |card|%>
	<%= card_image(card) %>
	<% end %>
	<% if @show_dealer_hit_button %><p>
	<h5>Dealer has <%= calculate_total(session[:dealer_cards])%></h5>
	<form action='/game/dealer/hit' method='post'>
		<input type='submit' class='btn btn-primary' value='See Dealer cards &rarr;'></form></p>
	<% end %>
</div>
<div class='well'>
<h5>Player Cards</h5>

	<%session[:player_cards].each do |card| %>
	<%= card_image(card) %>
	<% end %>
</div>

<p>player <%= session[:player_name]%> has <%= calculate_total(session[:player_cards])%></p>

<% if @hit_stay_buttons %>
<form id="hit_form" action='/game/player/hit' method='post'>
<input type='submit' class='btn btn-success' value='Hit' />
</form>
<form id="stay_form" action='/game/player/stay' method='post'>
<input type='submit' class='btn btn-warning' value='Stay' />
</form>
<% end %>
<br/>
<p>Dealer has <%= calculate_total(session[:dealer_cards])%></p>